@font-face {
    font-family: "Absans";
    src: url("Absans-Regular.woff2") format("woff2"),
        url("Absans-Regular.woff") format("woff");
  }
  
  body {
    font-family: "Absans", sans-serif;
    background-color: #DDFFF7;
    color: #04151F;
    padding: 20px;
    text-transform: lowercase;
  }
  
  h1, h3, h4 {
    font-weight: bold;
  }
  
  #container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  input, button {
    margin: 10px;
    padding: 10px;
    width: 80%;
    font-size: 16px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #output-container {
    display: inline-flex;   /* Aligns the output and button in one line */
    align-items: center;    /* Aligns the icon with the text vertically */
    margin-top: 20px;
  }
  
  #output {
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ccc;
    display: inline-block;
  }
  
  #copyButton {
    background-color: transparent;
    color: #007BFF;
    border: none;
    cursor: pointer;
    font-size: 16px; /* Smaller icon size */
    padding: 5px;
    margin-left: 10px; /* Adds space between the output and button */
  }
  
  #copyButton:hover {
    color: #0056b3;
  }
  
  
  #info {
    background-color: #DDFFF7;
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;  /* Ensures the text is left-aligned inside */
  }
  
  #info h3, #info h4 {
    text-align: center; /* Headings remain centered */
  }
  
  #info p {
    text-align: left;   /* Paragraphs will be left-aligned */
  }
  
  #contact-card {
    background-color: #DDFFF7;
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: inline-block;
    width: 100%;  /* Ensures the card stretches across the container */
  }
  
  .contact-details p {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .contact-details a {
    color: #007BFF;
    text-decoration: none;
  }
  
  .contact-details a:hover {
    text-decoration: underline;
  }
  

  a {
    color: #007BFF;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  